<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cicloVida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cicloVida</ion-title>
    </ion-toolbar>
  </ion-header>
  {{nuServicio.valor}}
  <ion-button (click)="nuServicio.aumentar()"> + </ion-button>
  <ion-button (click)="nuServicio.disminuir()"> - </ion-button>
</ion-content>
